* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  --a-color: #315170;
  --b-color: #b3d3f2;
  --c-color: #69adef;
  --d-color: #536270;
  --e-color: #5388bd;
}

body {
  height: 100vh;
  width: 100vw;
}

.container {
  /* background-image: url("/media/7481714.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; */
  background-color: var(--b-color);
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3vh;
  /* z-index: 0; */
}

.weatherAndNews {
  /* background-image: url("/media/7481714.jpg");
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat; */
  background-color: var(--b-color);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5vh;
  /* z-index: 0; */
}

/* weathershit */

.weatherBox {
  height: 65vh;
  width: 40vw;
  border-radius: 10vh;
  padding: 5vh;
  display: flex;
  gap: 5vh;
  background: linear-gradient(to right top, #385d8200, #315170);
  backdrop-filter: blur(2rem);
  box-shadow: 10px -15px 10px rgba(0, 0, 0, 0.195);
}

.info {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  width: 50%;
}

.location {
  font-size: 5vh;
}
.condition {
  font-size: 6vh;
}

.pictures {
  display: flex;
  height: 100%;
  gap: 2vh;
}
.text {
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* outline: 1px solid black; */
  justify-content: center;
}

.conditionImage {
  overflow: hidden;
  border-radius: 10vh;
  width: 50%;
  object-fit: cover;
}

/* newspanel */
.newsPanel {
  background: linear-gradient(
    to bottom left,
    rgba(245, 245, 245, 0.016),
    rgba(245, 245, 245, 0.505)
  );
  height: 65vh;
  width: 30vw;
  border-radius: 10vh;
  padding: 5vh;
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(2rem);
  box-shadow: -10px -15px 10px rgba(0, 0, 0, 0.195);
}

.topbar {
  width: 100%;
  display: flex;
}

.search {
  width: 85%;
  height: 10vh;
  padding: 1vh;
  border-top-left-radius: 3vh;
  border: none;
}

.onlyButton {
  width: 15%;
  height: 10vh;
  border-top-right-radius: 3vh;
  border: none;
}

.newsWidgets {
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}
::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

::-webkit-scrollbar-corner {
  border-bottom-left-radius: 10vw;
  border-bottom-right-radius: 10vw;
}

::-webkit-scrollbar-track {
  background: linear-gradient(
    to bottom left,
    rgba(245, 245, 245, 0.016),
    rgba(245, 245, 245, 0.803)
  );
}

::-webkit-scrollbar-thumb {
  background: #c5c5c5d9;
}

/* design
.design {
  z-index: 0;
  border-radius: 900vh;
  width: 40vh;
  height: 40vh;
  position: fixed;
  top: 0;
  right: 50vw;
  background: linear-gradient(to right top, #b3d3f236, #536270);
} */

.newsfeed {
  display: flex;
  flex-direction: column;
  gap: 3vh;
  padding-top: 3vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  background: rgba(245, 245, 245, 0.5);
  border-bottom-right-radius: 3vh;
  border-bottom-left-radius: 3vh;
  padding-right: 1.5vw;
  padding-left: 1.5vw;
}

.newsTitle {
  cursor: pointer;
}

.future {
  background: linear-gradient(to top, #5388bd00, #5388bd);
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  overflow-y: hidden;
  overflow-x: scroll;
  gap: 1vw;
  width: 70%;
  height: 25vh;
  border-radius: 3vh;
  padding: 1rem;
  box-shadow: 0px -15px 10px rgba(0, 0, 0, 0.195);
}

.hourlyContainer {
  background: linear-gradient(to bottom, #53627000, #2f6495c1);
  min-width: 10vw;
  height: 100%;
  border-radius: 1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  overflow: hidden;
}

.conditionImage {
  overflow: visible;
}

body {
  overflow-x: hidden;
}

@media (max-width: 1212px) {
  .weatherAndNews {
    display: flex;
    flex-direction: column;
  }
  .weatherBox,
  .newsPanel,
  .future {
    min-width: 95vw;
    min-height: 20vh;
  }

  .future {
    width: 70%;
    height: 25vh;
  }
  .container {
    height: fit-content;
    padding: 3vh;
  }
  .location {
    font-size: 3vw;
  }
  .condition {
    font-size: 4vw;
  }
}

@media (max-width: 750px) {
  .weatherBox {
    height: 30vw;
  }
  .text {
    overflow-y: scroll;
    padding-top: 1rem;
  }
  .pictures {
    display: none;
  }
  .weatherAndNews {
    gap: 1rem;
  }
  .future {
    width: 70%;
    height: 25vh;
  }
  .location {
    font-size: 3vw;
  }
  .condition {
    font-size: 4vw;
  }
  .hourlyContainer {
    min-height: 94px;
  }
}
/*  */
@media (max-width: 370px) {
  .hourlyContainer {
    min-height: 94px;
  }
  body {
    overflow: scroll;
  }
  .weatherAndNews {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .weatherBox,
  .newsPanel,
  .future {
    min-width: 350px;
    max-height: 500px;
  }
  .location {
    font-size: 3vw;
  }
  .condition {
    font-size: 4vw;
  }
}

.temperatureText {
  font-size: 3vh;
  font-weight: 1000;
  /* color: whitesmoke; */
  /* background: url("/media/thermometer-lines.svg") center center no-repeat; */
}

.date,
.temperature {
  font-size: 3vh;
  display: flex;
  font-weight: 1000;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to left bottom, #5388bd00, #5388bdba);
  border-radius: 1vh;
  height: 100%;
  width: 100%;
  text-align: center;
}

.thermo {
  height: 100%;
  width: 100%;
}

.onlyButton {
  overflow: hidden;
}

.searchIcon {
  height: 100%;
}

.topbar {
  border: 1px solid gray;
  border-top-left-radius: 3vh;
  border-top-right-radius: 3vh;
}

@font-face {
  font-family: lemon;
  src: url(/font/LEMONMILK-Regular.otf);
}

* {
  font-family: monospace;
}

.date,
.temperatureText,
.condition,
.location {
  color: whitesmoke;
}

.fit {
  height: fit-content;
}

.none {
  display: none;
}
