* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  --a-color: #315170;
  --b-color: #b3d3f2;
  --c-color: #69adef;
  --d-color: #536270;
  --e-color: #5388bd;
}

body {
  height: 100vh;
  width: 100vw;
}

.container {
  /* background-image: url("/media/7481714.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; */
  background-color: var(--b-color);
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3vh;
  /* z-index: 0; */
}

.weatherAndNews {
  /* background-image: url("/media/7481714.jpg");
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat; */
  background-color: var(--b-color);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5vh;
  /* z-index: 0; */
}

/* weathershit */

.weatherBox {
  height: 65vh;
  width: 40vw;
  border-radius: 10vh;
  padding: 5vh;
  display: flex;
  gap: 5vh;
  background: linear-gradient(to right top, #385d8200, #315170);
  backdrop-filter: blur(2rem);
}

.info {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  width: 50%;
}

.location {
  font-size: 7vh;
}
.condition {
  font-size: 4vh;
}

.date,
.temperature {
  background: linear-gradient(to left bottom, #5388bd00, #5388bdba);
  font-size: 3vh;
  border-radius: 1vh;
  height: 100%;
  width: 100%;
}

.pictures {
  display: flex;
  height: 100%;
  gap: 2vh;
}
.text {
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* outline: 1px solid black; */
  justify-content: center;
}

.conditionImage {
  overflow: hidden;
  border-radius: 10vh;
  width: 50%;
  object-fit: cover;
}

/* newspanel */
.newsPanel {
  background: linear-gradient(
    to bottom left,
    rgba(245, 245, 245, 0.016),
    rgba(245, 245, 245, 0.505)
  );
  height: 65vh;
  width: 30vw;
  border-radius: 10vh;
  padding: 5vh;
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(2rem);
}

.topbar {
  width: 100%;
  display: flex;
}

.search {
  width: 85%;
  height: 10vh;
}

.onlyButton {
  width: 15%;
}

.newsfeed {
  width: 100%;
  height: 100%;
  /* background-color: rgba(245, 245, 245, 0.236); */
}

.newsWidgets {
  height: 100%;

  scroll-behavior: smooth;
  overflow-y: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: linear-gradient(
    to bottom left,
    rgba(245, 245, 245, 0.016),
    rgba(245, 245, 245, 0.505)
  );
}

::-webkit-scrollbar-thumb {
  background: #c5c5c53f;
}

/* design
.design {
  z-index: 0;
  border-radius: 900vh;
  width: 40vh;
  height: 40vh;
  position: fixed;
  top: 0;
  right: 50vw;
  background: linear-gradient(to right top, #b3d3f236, #536270);
} */

.future {
  background-color: #5388bd;
  width: 70%;
  height: 20vh;
  border-radius: 3vh;
}
